body{
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
    padding: 10px;
}

footer, section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px grey;
}

summary{
    cursor: pointer;
}

h1,h2{
    color: #2e7d32;
}

details{
    background-color: #c8e6c9;
    padding: 10px;
    border-radius: 5px;
    border: #8bc34a solid 1px;
}
label{
    display: block;
}

input,textarea,button{
    margin-bottom: 10px;
    border-color: #c8e6c9;
    border-radius: 5px;
    width: 680px;
    height: 20px;
}

textarea{
    height: 80px;
}

button{
    text-align: center;
    background-color: #2e7d32;
    color: white;
    height: 40px;
    
}

table{
    border: #2e7d32 solid 1px;
    text-align: center;
    vertical-align: middle;
    width: 680px;
    border-collapse: collapse;
}

th{
    color: white;
    background-color: #2e7d32;
}