@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

body{
    font-family: Arial;
    background-color: #d4e9d5;
}

h1{
    font-family: 'Science Gothic';
}

h1,h2{
    color: #2e7d32;
}

section, header,footer{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

summary{
    cursor: pointer;
}

input,select,button{
    margin-bottom: 10px;
    display: block;
    border: 1px solid #4ac352;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button{
    background-color: #2e7d32;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #4ac352;
}

summary{
    font-weight: bold;
}

label,p,a,th{
    font-size: 15px;
}

table{
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

th{
    background-color: #2e7d32;
    color: white;

}

td{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

a{
    text-decoration: none;
    color: #2e7d32;
    font-weight: bold;
}

header{
    margin-top: 15px;
}

footer{
    margin-bottom: 50px;
}

.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 5%;
}

.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 7px;
    background-color: white;
    text-align: center;
}

.grid >p:nth-child(1),
.grid >p:nth-child(2),
.grid >p:nth-child(3){
    font-weight: bold;
    background-color: #4ac352;
    color: white;
    margin: 0px;
}

@media(max-width:768px) {
    .galeria{
        flex-direction: column;
    }

    .grid{
        grid-template-columns: 100%;
    }

    .grid p:nth-child(1),
    .grid p:nth-child(2),
    .grid p:nth-child(4),
    .grid p:nth-child(5),
    .grid p:nth-child(7),
    .grid p:nth-child(8){
        display: none;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .galeria{
        flex-wrap: wrap;
    }

    .grid{
        grid-template-columns: 50% 50%;
    }

    .grid p:nth-child(2),
    .grid p:nth-child(5),
    .grid p:nth-child(8){
        display: none;
    }
}

@media (min-width:1025px){
    
}

