body{
    background-color: #ffffff;
    color: rgb(87, 87, 87);
    background-color: #e0f4fa;
    margin: 0;
}

body h1, body h2, body h3, body p, body span, body img{
    padding: 10px;
    text-align: center;
}

body h1, body h2, body h3{
    max-width: 600px;
    background: linear-gradient(to bottom, #1a6a8a, #5ba3c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body p, body span{
    max-width: 400px;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header h1{
    text-align: center;
    width: 100%;
    max-width: 100%;
}

header h1 span {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

/* CSS index */

.titulo{
    background-image: url('../img/Playa/fondo-titulo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 0;
}

.titulo h1{
    margin: 0;
}

/* CSS Hoteles */

.menu{
    background-color: rgb(187, 238, 238);
    margin: 0;
    height:80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu button, .menu img{
    color: rgb(87, 87, 87);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    width: 10%;
    height: 30px;
}

.menu img{
    width: 5%;
    height: 50px;
    
}

.seccionHoteles{
    width: 100%;
}

.seccionHoteles h2{
    width: 20%;
    margin:100px auto 0 auto;
}

.hoteles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hotel{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.hotel h3, .hotel p, .hotel img, .hotel span{
    height: 50px;
    width: 100%;
}

.hotel h3, .hotel p, .hotel span{
    text-align: left;
    margin-bottom: 0;
}

.hoteles .hotel:nth-child(even) h3, .hotel:nth-child(even) p, .hotel:nth-child(even) span {
    text-align: right;
}

.hotel h3, .hotel img {
    margin: 0;
    padding: 0;
}

.hotel h3{
    background-color: aliceblue;
    height: 25px;
    display: flex;
    align-items: center;
}

.hotel span{
    height: 20px;
    margin-bottom: 200px;
}

.hotel img{
    margin-top: 0;
    height: 350px;
    border: 5px solid white;
    border-radius: 50px;
}

/* CSS Formulario */

.formSecction{
    display: flex;
    justify-content: center;
    height:400px;
}

form{
    display: flex;
    flex-direction: column;
    width:400px;
    margin-top: 5%;
}

form input{
    width: 80%;
    margin-bottom: 20px;
}

form p{
    width: 20%;
}

form div{
    display: flex;
    flex-direction: row;
}
form button{
    margin-bottom: 20px;
    border-color: grey;
    background-color: darkgray;
    color: white;
}