body{
 background-color: #e7d3ad;
 color: rgb(255, 255, 255);
}

body h1,h2,h3,p,span,img{
    background-color: rgba(253, 186, 98, 0.12);
    border-radius: 50px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

body h1{
    width: 600px;
}

body p, span{
    width: 400px;
}

.seccionHoteles h2{
    margin-top: 50px;
}

.hotel img{
    width: 50%;
    height: 450px;
    border: 5px, solid, white;
    border-radius: 50px;
}
